/* EmployeeDashboard.css */
:root {
  --color-background: #f0fff0;
  --color-navbar: #ffffff;
  --color-form-bg: #d3d3d3;
  --color-input-bg: #ffffff;
  --color-input-border: #c0c0c0;
  --color-button-bg: #ff4c4c;
  --color-button-bg-hover: #e04343;
  --color-text: #4a4a4a;
  --color-loading: #4a4a4a;
  --br-lg: 8px;
  --padding-lg: 16px;
  --font-family: 'Lexend Deca', sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: var(--font-family);
  background-color: var(--color-background);
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px;
  border-radius: 5px;
}

.logo img {
  height: 60px; /* Adjust the height as needed */
}

.nav-buttons button {
  margin-right: 10px;
  background-color: var(--color-input-bg);
  border: none;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  width: 130px;
  font-size: 120%;
  transition: background-color 0.3s;
}

.nav-buttons button:last-child {
  background-color: var(--color-button-bg);
  color: white;
}

.nav-buttons button:last-child:hover {
  background-color: var(--color-button-bg-hover);
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
}

.welcome-container {
  margin-bottom: 20px;
}

.welcome-container h1 {
  font-size: 36px;
  color: var(--color-text);
}

.welcome-container p {
  font-size: 18px;
  color: var(--color-text);
  margin-top: 10px;
}

.loading-spinner {
  font-size: 20px;
  color: var(--color-loading);
}

.content-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.task-card {
  background-color: var(--color-form-bg);
  padding: var(--padding-lg);
  border-radius: var(--br-lg);
  cursor: pointer;
  width: 200px;
  text-align: center;
  transition: transform 0.3s ease;
}

.task-card:hover {
  transform: scale(1.05);
}

.task-card h3 {
  color: var(--color-text);
}

.task-card p {
  color: #666;
}

@media (max-width: 768px) {
  .task-card {
      width: 100%;
      max-width: 300px;
  }
}

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-left-color: var(--color-button-bg);
  animation: spin 1s ease infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.spinner-container p {
  color: var(--color-loading);
  font-size: 18px;
}
