.-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--color-honeydew);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100vw;
  z-index: 1;
}

.login-form {
  background-color: #edf2f7;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 429px;
  height: auto;
  border-radius: 18px;
  background: #C9D4C6;
}

.logo {
  width: 145.297px;
  height: 61.918px;
  flex-shrink: 0;
}

.login-form .title {
  color: #06273A;
  font-family: "Lexend Deca";
  font-size: 48px;
  font-weight: 500;
  margin-top: 0.2rem;
}

.login-form .form-group {
  text-align: left;
  margin-bottom: 1rem;
}

.form-group .label {
  color: #06273A;
  font-family: "Lexend Deca";
  font-size: 16px;
  font-weight: 400;
}

.form-group .input {
  width: 100%;
  height: 47px;
  border-radius: 7px;
  background: #EDF5EA;
  margin-top: 1rem;
  color: #AFBDAB;
  font-family: "Lexend Deca";
  font-size: 16px;
  font-weight: 400;
  padding-left: 0.5rem;
  border: none;
}

.login-form .button {
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #E6301B;
  color: #EDF5EA;
  font-family: "Lexend Deca";
  font-size: 20px;
  font-weight: 600;
  margin-top: 1rem;
  border: none;
}

.button:hover {
  background-color: #c53030;
}

.forgot-password {
  margin-top: 1rem;
}

.forgot-password a {
  color: #06273A;
  font-family: "Lexend Deca";
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.error-message {
  color: #e53e3e;
  margin-top: 0.5rem;
}

.success-message {
  color: #38a169;
  margin-top: 0.5rem;
}

.-container .footer-icon {
  width: 100vw;
  position: relative;
  bottom: -16.1rem;
  object-fit: cover;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* .whatsapp-image-2024-03-05-at-3-icon {
  height: 61.9px;
  width: 145.3px;
  position: relative;
  object-fit: cover;
}
.whatsapp-image-2024-03-05-at-3-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.frame-child {
  width: 519px;
  height: 535.6px;
  position: relative;
  border-radius: var(--br-lg);
  background-color: var(--color-lightgray);
  display: none;
  max-width: 100%;
}
.login1 {
  margin: 0;
  position: relative;
  font-size: 48px;
  font-weight: 500;
  font-family: var(--font-lexend-deca);
  color: var(--color-gray);
  text-align: left;
  z-index: 1;
}
.login-button-area {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.employee-id {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-lexend-deca);
  color: var(--color-gray);
  text-align: left;
  display: inline-block;
  min-width: 101px;
  z-index: 1;
}
.input-fields,
.input-labels {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-fields {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-honeydew);
  height: 73.7px;
  border-radius: var(--br-6xs);
  flex-direction: row;
  padding: var(--padding-7xl-9) var(--padding-7xl-8) var(--padding-7xl-8);
  box-sizing: border-box;
  font-family: var(--font-lexend-deca);
  font-size: var(--font-size-base);
  color: black;
  min-width: 250px;
  z-index: 1;
}
.input-labels {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.password {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-lexend-deca);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 75px;
  z-index: 1;
}
.input-labels-child,
.input-labels1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-labels-child {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-honeydew);
  height: 73.7px;
  border-radius: var(--br-6xs);
  flex-direction: row;
  padding: var(--padding-7xl-9) var(--padding-7xl-8) var(--padding-7xl-8);
  box-sizing: border-box;
  font-family: var(--font-lexend-deca);
  font-size: var(--font-size-base);
  color: var(--color-silver);
  min-width: 250px;
  z-index: 1;
}
.input-labels1 {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.login2 {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  font-family: var(--font-lexend-deca);
  color: var(--color-honeydew);
  text-align: left;
  display: inline-block;
  min-width: 57px;
}
.reset-button-area,
.reset-link-area {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.reset-button-area {
  cursor: pointer;
  border: 0;
  padding: 10px var(--padding-xl);
  background-color: #e6301b;
  border-radius: 4px;
  z-index: 1;
}
.reset-button-area:hover {
  background-color: #ff5742;
}
.reset-link-area {
  padding: 0 74px;
}
.forgot-password-reset {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-lexend-deca);
  color: var(--color-black);
  text-align: left;
  z-index: 1;
}
.password-reset,
.reset-area {
  display: flex;
  align-items: flex-start;
}
.reset-area {
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}
.password-reset {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
}
.frame-parent,
.rectangle-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangle-parent {
  margin: 0;
  align-self: stretch;
  border-radius: var(--br-lg);
  background-color: var(--color-lightgray);
  align-items: flex-start;
  padding: var(--padding-28xl-9) 46.5px var(--padding-28xl-9) 46.6px;
  box-sizing: border-box;
  gap: 32.1px;
  z-index: 1;
}
.frame-parent {
  width: 519px;
  align-items: flex-end;
  gap: 47.2px;
}
.login-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.login,
.vectors-icon {
  position: relative;
  bottom: 2rem;
  overflow: hidden;
}
.vectors-icon {
  align-self: stretch;
  max-width: 100%;
  max-height: 100%;
}
.login {
  width: 100%;
  background-color: var(--color-honeydew);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 87px 0 0;
  box-sizing: border-box;
  gap: 118.3px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .login1 {
    font-size: 38px;
  }
  .login {
    gap: 59px;
  }
}
@media screen and (max-width: 675px) {
  .rectangle-parent {
    gap: 16px;
    padding: 31px 23px;
    box-sizing: border-box;
  }
  .frame-parent {
    gap: 24px;
  }
}
@media screen and (max-width: 450px) {
  .login1 {
    font-size: 29px;
  }
  .login2 {
    font-size: var(--font-size-base);
  }
  .login {
    gap: 30px;
  }
} */
